.divTudoLogin{
    position:relative;top:-20vh
}

.divQuadroTotal{
    position:relative;
    left:8vw;
    top:5vh;
    width:80vw;
    height:80vh;
    border:0px solid black;
    border-radius:calc(1vw + 1vh)
}
.divQuadroEsquerdo{
    border:0px solid black;
    float:left;
    position:relative;
    top:0vh;
    width:40vw;
    height:80vh;
    background-color: rgb(3, 151, 126);
    border-radius:calc(1vw + 1vh) 0 0 calc(1vw + 1vh)
}

.h1TitlePaginaDeLogin{
    font-family: 'Reem Kufi Fun', sans-serif;
    font-weight: 200;
    font-size:calc(3vw + 3vh);
    position:relative;
    left:8.5vw;
    top:5vh;
    color:white
    
}

.divComSpanLogin{
    width:40vw;
    border:0px solid black;
    
}
.divAcesseSuaConta{
    font-size:calc(1.5vw + 2.5vh);
    color:white;
    font-family: 'Rajdhani', sans-serif;
    position:relative;
    left:9.5vw;
    top:2vh;
}
.divLinkAcesseSuaConta{
    display:flex;
    justify-content: center;
    align-items: center;
    font-size:calc(1.2vw + 1.2vh);
    border:1px solid white;
    border-radius:calc(0.7vw + 0.7vh);
    color:white;
    font-family: 'Roboto', sans-serif;
    position:relative;
    left:10.5vw;
    top:2.5vh;
    width:19vw;
    height:7vh;
    transition: background-color 1s ease;
}
.divLinkAcesseSuaConta:hover{
    background-color: white;
    color:black
}

.LinkAcesseSuaConta{
    text-decoration: none;
    color:white
    
}
.LinkAcesseSuaConta:hover{
    text-decoration: none;
    color:black
}


.divOu{
    font-size:calc(1.5vw + 2.5vh);
    color:white;
    font-family: 'Rajdhani', sans-serif;
    position:relative;
    left:18vw;
    top:4vh;
}

.divRegistre-se{
    display:flex;
    justify-content: center;
    align-items: center;
    font-size:calc(1.2vw + 1.2vh);
    border:1px solid white;
    border-radius:calc(0.7vw + 0.7vh);
    color:white;
    font-family: 'Roboto', sans-serif;
    position:relative;
    left:13vw;
    top:9vh;
    width:13vw;
    height:5vh;
    transition: background-color 1s ease;
}

.divRegistre-se:hover{
    background-color: white;
    color:black
}
.linkRegistre-se{text-decoration: none;}


.divRegistreseButtonFalse{
    font-size:calc(1.5vw + 2.5vh);
    color:white;
    font-family: 'Rajdhani', sans-serif;
    position:relative;
    left:12.9vw;
    top:7vh;
}

.divTotalComInputs{
    border:1px solid black;
    width:40vw;
    position:relative;
    left:50vw;
}





